/*
 * Stylesheet by Bryant Hansen
 * 2014
 */

body {
    text-align:center;
    background-color: #101010;
    background-color: #00387d;
    background-color: #5a6a7d;
    background-color: #2a313a;
    color: #efcfb7;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/*
div {
    border: solid red 1px;
}
table {
    border: solid green 1px;
}
td {
    border: solid blue 1px;
}
td.StatsCell {
    border: solid white 1px;
}
*/
h1,
h2
{
    text-shadow: 2px 2px 2px #14171b;
    font-size: x-large;
    font-style:italic;
    margin: 5px;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: large;
}
h3 {
    margin: 1px;
}
table.image {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
}
td.heading,
td.ImageCell,
td.StatsCell,
div.CurrentSetDescription,
div.ImageSubsets,
a.start_slideshow,
p.copyright,
p.header
{
    background-color: #333b46;
    border-radius: 12px;
    box-shadow: inset 2px 2px 2px 2px #14171b;
}
td.ImageCell {
    padding: 12px;
}
td.StatsCell {
    padding: 8px;
    padding-left: 3px;
}

td.heading,
div.CurrentSetDescription,
div.ImageSubsets,
a.start_slideshow,
div.InfoPanel,
p.copyright,
p.header
{
    margin: 4px;
    padding: 3px;
}
p.copyright,
p.header
{
    border-radius: 6px;
}
p.copyright {
    font-size: small;
}
td.StatsCell div
{
    padding: 6px;
}

td.StatsCell div {
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
}
div.AvailableResolutions {
    padding-left: 20px;
}
div.CurrentSetDescription {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1px;
}
h3.ImageSubsetHeader {
    margin-bottom: 1px;
}
/*
table.ImageSubset,
table.ImageSubset td
{
    margin-top: 1px;
}
*/
table.ImageSubset td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
div.main,
div.images,
div.images div
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.main table {
    margin-left: auto;
    margin-right: auto;
}
a:link    {   /* unvisited link */
    color: #c1906b;
    text-decoration:none;
}
a:visited {   /* visited link */
    color: #96633b;
    text-decoration:none;
}
a:hover   {   /* mouse over link */
    color: #efb384;
    text-decoration:none;
}
a:active  {   /* selected link */
    color: #efe2d9;
    text-decoration:none;
}
/*
div.images h3,
table.ImageSet
{
    margin-bottom: 1px;
    margin-top: 1px;
}
table.ImageSet td {
    padding: 10px;
}
*/
div.img {
    display: table;
    text-align:center;
    margin:2px;
    height:300px;
    width:auto;
    float:left;
}
div.img_inner {
    display: table-cell;
    vertical-align: center;
    padding: 2px;
}
div.img img,
div.img_inner img,
td.Movie img
{
    text-align:center;
    vertical-align: middle;
    display:inline;
    border:1px solid #2a313a;
}
div.img a:hover img,
td.Movie a:hover img
{
    border:1px solid #B0B0B0;
}
div.desc {
    text-align:center;
    font-weight:normal;
    width:120px;
    margin:2px;
}
a.start_slideshow
{
    background-color: #14171b;
}
div.start_slideshow,
a.start_slideshow
{
    padding: 10px;
}
div.start_slideshow {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../templates/button1.png);
    background-repeat: no-repeat;
    background-position:   100% 100%;
    background-attachment: fixed;
}
img#image1 {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #202020;
}
td.StatsCell,
div.exif
{
    text-shadow: 2px 2px 2px black;
}
td.StatsCell {
    vertical-align: bottom;
}
td.StatsCell,
td.ImageLeftMargin
{
    min-width: 20%;
}
div.AvailableResolutions {
}
div.AvailableResolutions p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0px;
    padding-left: 20px;
}
div.footer,
div.copyright,
div.movies
{
    clear: both;
}
div#DebugMessageCell {
    float: right;
    position: absolute;
    top: 5%;
    left: 0px;
}
td.ImageSubsetLink {
    text-align: right;
}
td.ImageSubsetDescription {
    text-align: left;
}
p.header {
    margin-bottom: 0px;
}
p.copyright {
    margin-top: 0px;
}
td.ImageSubsetLink {
    font-weight: bold;
}